<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="navbar-brand"> Treebook</a>
				<p class="navbar-text"><%= link_to "All Statuses", statuses_path %></p>
				<p class="navbar-text navbar-right">
					<% if user_signed_in? %>
						<%= link_to current_user.full_name, edit_user_registration_path %>
						<%= link_to "    Log Out", destroy_user_session_path, method: :delete %>
					<% else %>
						<%= link_to "Register", new_user_registration_path %>
						<%= link_to "Log In", new_user_session_path %>
					<% end %>

				</p>

			</div>
		</div>
	</div>
	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
			</div>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
